
h1,h2 {
	text-align: center;
	color: pink;
	margin-top: 50px;
}
.hide-js {
	width: 1000px;
	height: 500px;
	border-radius: 10px;
}
.hs-j1 {
	background-color: pink;
	overflow: hidden;
	position: relative;
}
.hs-j2 {
	background-color: lightblue;
}
.hs-j3 {
	background-color: palevioletred;
}
.bullets {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: lightgreen;
	margin:10px;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
}
.hugetext{
	font-size: 19em;
	position: absolute;
	right: -140;
	bottom: -140;
	font-family: 'Paytone One', sans-serif;
}