
h1,h2 {
	text-align: center;
	color: pink;
	margin-top: 50px;
}
.hide-js {
	width: 400px;
	height: 90px;
	border-radius: 10px;
}
.hs-j1 {
	background-color: pink;
}
.hs-j2 {
	background-color: lightblue;
}
.hs-j3 {
	background-color: palevioletred;
}